{% extends "app/base.html" %}
{% load static %}

{% block title %}
- Connexion {{ block.super }}
{% endblock %}

{% block content %}

<section class="page-section bg-top-section text-white" style="background-image: url('{% static 'img/background.jpg' %}');">
    <div class="container">
        <div class="row justify-content-center">
            <div class=" title col-lg-auto">
                <h2 class="section_title text-center mt-">Veuillez entrer vos informations afin de créer vous
            connecter à votre compte
                </h2>
            </div>
        </div>
    </div>
</section>


<section class="page-section bg-biscuit text-white">
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-lg-8 text text-center">
                {% if error %}
                <p class="text-red"><strong>Utilisateur inconnu ou mauvais de mot de passe.</strong></p>
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary bg-chocolate btn-block">Se connecter</button>
                    <p><a href=" {% url "user:register" %}"> Pas encore de
                        compte ? S'enregistrer</a></p>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}