{% extends "app/base.html" %}
{% load static %}

{% block title %}
- Création Compte{{ block.super }}
{% endblock %}

{% block content %}

<section class="page-section bg-top-section text-white" style="background-image: url('{% static 'img/background.jpg' %}');">
    <div class="container">
        <div class="row justify-content-center">
            <div class=" title col-lg-auto">
                <h2 class="section_title text-center mt-">Veuillez entrer les informations ci-dessous afin de créer votre compte
                </h2>
            </div>
        </div>
    </div>
  </section>

<section class="page-section bg-biscuit text-white">
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-lg-8 text text-center">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}<br />
                        {{ field }}
                        {% if field.help_text %}
                        <div class="form-text text-muted">
                            <small>{{ field.help_text }}</small>
                        </div>
                        {% endif %}
                        {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary bg-chocolate btn-block">Créer Compte</button>
                </form>
            </div>
        </div>

    </div>
</section>
{% endblock %}