{% extends "app/base.html" %}

{% block title %}
- Création Compte{{ block.super }}
{% endblock %}

{% block content %}

<section class="page-section bg-dark text-white">
    <div class="container">
        <h2 class="text-white font-weight-bold text-center">Veuillez entrer les informations ci-dessous afin de créer
            votre compte</h2>
        <hr class="divider my-4">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-lg-8 text text-center">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}<br />
                        {{ field }}
                        {% if field.help_text %}
                        <div class="form-text text-muted">
                            <small>{{ field.help_text }}</small>
                        </div>
                        {% endif %}
                        {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary btn-block">Créer Compte</button>
                </form>
            </div>
        </div>

    </div>
</section>
{% endblock %}