{% extends "app/base.html" %}
{% load static %}
{% block content %}

<section class="page-section h-25 first_section bg-mussels text-white" style="background-image: url('{% static 'img/background.jpg' %}'); background-size: 100%">
    <div class="container">
        <div class="row justify-content-center">
            <div class=" title col-lg-auto">
                <h1 class=" section_title text-center mt-0">Produits favoris</h1>
            </div>
        </div>
    </div>
  </section>
  
<section class="page-section bg-biscuit h-auto">
    <div class="container">
        <div class="row text-center">
            {% for product in products%}
            <div class=" col-12 col-md-4">
                <div class="product mx-auto">
                    <a href=" {% url "product:detail" product.substitute.code %}">
                        <div class="nutriscore">{{ product.substitute.nutriscore_grade }}</div>
                        <img class="product-img rounded mx-auto d-block" src=" {{ product.substitute.image }}" />
                    </a>
                    <h4 class="text-white mt-0">{{ product.substitute.name }}</h4>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}


