{% extends "app/base.html" %}
{% load static %}
{% block content %}

<section class="page-section bg-dark text-white">
    <div class="container">
        <h2 class="text-center mt-0">Produits</h2>
        <hr class="divider my-4" />
        <div class="row text-center">
            {% for product in products%}
            <div class=" col-12 col-md-4">
                <div class="product mx-auto">
                    <a href=" {% url "product:search_substitutes" product.code%}">
                        <div class="nutriscore">{{ product.nutriscore_grade }}</div>
                        <img class="product-img rounded mx-auto d-block" src=" {{ product.image }}" />
                    </a>
                    <p class="text-center">{{ product.name }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}


