{% extends "app/base.html" %}
{% load static %}
{% block content %}


<section class="page-section h-25 first_section bg-mussels text-white" style="background-image: url('{% static 'img/background.jpg' %}'); background-size: 100% 100%">
    <div class="container">
        <div class="row justify-content-center">
            <div class=" title col-lg-auto">
                {% if not products%}
                <h1 class=" section_title text-center mt-0">Aucun produit trouvé pour la recherche "<i>{{ request.GET.search }}</i>" 
                    <br>Veuillez effectuer une nouvelle recherche
                </h1>
                {% else %}
                <h1 class=" section_title text-center mt-0">Produits correspondants à la recherche "<i>{{ request.GET.search }}</i>"</h1>
                {% endif %}
            </div>
        </div>
    </div>
  </section>
<section class="page-section bg-biscuit h-auto">
    <div class="container">
        <div class="row text-center">
        {% for product in products%}
            <div class=" col-12 col-md-4">
                <div class="product mx-auto">
                    <a href=" {% url "product:search_substitutes" product.code%}">
                        <div class="nutriscore">{{ product.nutriscore_grade }}</div>
                        <img class="product-img rounded mx-auto d-block" src=" {{ product.image }}" />
                    </a>
                    <h4 class="text-white mt-0">{{ product.name }}</h4>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
{% endblock %}


