{% extends "app/base.html" %}
{% load static %}
{% block content %}

<section class="page-section bg-dark text-white">
    <div class="container">
        <h2 class="text-center mt-0">Produits</h2>
        <hr class="divider my-4" />
        <div class="row">
            <div class="col-lg-5 col-md-6 text-center">
                <div class="mt-5">
                    <url>
                    {% for product in products%}
                        <li>{{ product.name }}, <a href=" {% url "product:detail" product.code %}">{{ product.code }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}