{% extends "app/base.html" %}
{% load static %}
{% block content %}

<section class="page-section bg-dark text-white">
    <div class="container">
        <h1 class="text-center mt-0">{{ product_name }}</h1>
        <h2 class="text-center mt-0">Vous pouvez remplacer ce produit par l'un des suivants:</h2>
        <hr class="divider my-4" />
        <div class="row text-center"">
            {% for substitute in substitutes%}
            <div class=" col-12 col-md-4">
                <a href=" {% url "product:detail" substitute.code %}">
                    <img class="img-fluid mx-auto d-block img-thumbnail" height="300" src=" {{ substitute.image }}" />
                </a>
                <p class="text-center">{{ substitute.name }}<br></p>
                {% if user.is_authenticated %}
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="product" value="{{ product_code}}"/>
                    <input type="hidden" name="substitute" value="{{ substitute.code }}"/>
                    <input type="submit" class="btn btn-primary btn-block" value="Sauvegarder" />
                </form>
                {% endif %}
                <br>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}