{% extends "app/base.html" %}
{% load static %}
{% block content %}

<section class="page-section bg-dark text-white">
    <div class="container">
        <h1 class="text-center mt-0">{{ product_name }}</h1>
        <h2 class="text-center mt-0">Vous pouvez remplacer ce produit par l'un des suivants:</h2>
        <hr class="divider my-4" />
        <div class="row text-center">
            {% for substitute in substitutes%}
            <div class=" col-12 col-md-4">
                <div class="product mx-auto">
                    <a href=" {% url "product:detail" substitute.code %}">
                        <div class="nutriscore">{{ substitute.nutriscore_grade }}</div>
                        <img class="product-img rounded mx-auto d-block" src=" {{ substitute.image }}" />
                    </a>
                    <p class="text-center">{{ substitute.name }}<br></p>
                    {% if user.is_authenticated %}
                    <form class="save" id="save_favorite" method="POST" action="{% url 'substitute:save' %}">
                        {% csrf_token %}
                        <input type="hidden" name="product" id="product" value="{{ product_code}}"/>
                        <input type="hidden" name="substitute" id="substitute" value="{{ substitute.code }}"/>
                        {% if substitute.code in favorites %}
                        <button class="btn btn-success active save_button btn-block" disabled>
                          <i class="fas fa-check"></i> Sauvegardé
                        </button>
                        {% else %}
                        <button type="submit" class="btn btn-warning btn-block">
                          <i class="fas fa-save"></i> Sauvegarder
                        </button>
                        {% endif %}
                       
                    </form>
                    {% endif %}
                    <br>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}

